/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Navbar Section */
#navbar {
    display: flex;
    margin: 15px;
}

#image img {
    display: inline-block;
    width: 30%;
}

small {
    font-size: 18px;
    font-family: sans-serif;
}


/* Main Section */
#main {
    display: flex;
    height: 500px;
}


/* Navigation Menu */
#navigation {
    height: 500px;
    background-color: #f1f1f1;
}

#navigation ul {
    width: 290px;
}

#navigation ul li {
    padding: 20px 0px;
    list-style: none;
    font-size: 20px;
}

#navigation ul li:hover {
    background-color: #dddddd;
    color: #ffffff;
}

#navigation ul li a {
    color: black;
    padding: 0px 65px;
    text-decoration: none;
}


/* About Section */
#about {
    height: 500px;
    margin-left: 25px;
    overflow: scroll;
    scroll-behavior: smooth;
}

#about div {
    margin: 30px 0px;
}

#about h1 {
    text-align: center;
    margin-bottom: 40px;
}

#about h2 {
    margin-left: 18px;
}

#about p {
    margin: 20px;
    font-size: 18px;
}

#about li {
    margin: 0px 65px;
    font-size: 16px;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.copy,
.info {
    padding: 15px;
}